<div class="addNode w3-card">
    <header class="w3-container w3-gray">
        <h3 class="w3-left">
            <%= identifier %>
        </h3>
        <p class="w3-right closeButton">&emsp;<b>X</b></p>
    </header>
    <%- include(identifier) %>
    &nbsp;
    <footer class="w3-container w3-gray">
        <button class="w3-button w3-text-white" style="width: 100%;">add</button>
    </footer>
</div>