<div id="type" class="w3-dropdown-hover" style="width: 100%;">
    <button class="w3-button w3-text-white" style="width: 100%;">type</button>
    <div class="w3-dropdown-content w3-bar-block w3-border w3-center" style="width: 100%;">
        <a href="#" class="w3-bar-item w3-button">lowpass</a>
        <a href="#" class="w3-bar-item w3-button">highpass</a>
        <a href="#" class="w3-bar-item w3-button">bandpass</a>
        <a href="#" class="w3-bar-item w3-button">lowshelf</a>
        <a href="#" class="w3-bar-item w3-button">highshelf</a>
        <a href="#" class="w3-bar-item w3-button">peaking</a>
        <a href="#" class="w3-bar-item w3-button">notch</a>
        <a href="#" class="w3-bar-item w3-button">allpass</a>
    </div>
</div>
<div class="w3-container">
    <div class="w3-half w3-padding">
        <div class="w3-text-white">frequency</div>
    </div>
    <div class="w3-half">
        <input id="frequency" type="number" class="w3-input" placeholder="frequency"></input>
    </div>
</div>
<div class="w3-container">
    <div class="w3-half w3-padding">
        <div class="w3-text-white">detune</div>
    </div>
    <div class="w3-half">
        <input id="detune" type="number" class="w3-input" placeholder="detune"></input>
    </div>
</div>
<div class="w3-container">
    <div class="w3-half w3-padding">
        <div class="w3-text-white">Q</div>
    </div>
    <div class="w3-half">
        <input id="Q" type="number" class="w3-input" placeholder="Q"></input>
    </div>
</div>
<div class="w3-container">
    <div class="w3-half w3-padding">
        <div class="w3-text-white">gain</div>
    </div>
    <div class="w3-half">
        <input id="gain" type="number" class="w3-input" placeholder="gain"></input>
    </div>
</div>