<div class="w3-container">
    <div class="w3-half w3-padding">
        <div class="w3-text-white">delay</div>
    </div>
    <div class="w3-half">
        <input id="delay" type="number" class="w3-input" placeholder="delay"></input>
    </div>
</div>

