<div class="w3-container">
    <div class="w3-half w3-padding">
        <div class="w3-text-white">gain</div>
    </div>
    <div class="w3-half">
        <input id="gain" type="number" class="w3-input" placeholder="gain"></input>
    </div>
</div>