<div>minDecibels</div>
<input type="range" min="-100" max="0" value="<%= minDecibels %>" id="minDecibels" />
<br />
<div>maxDecibels</div>
<input type="range" min="-100" max="0" value="<%= maxDecibels %>" id="maxDecibels" />
<br />
<div>smoothingTimeConstant</div>
<input type="range" min="0" max="1" step=".05" value="<%= smoothingTimeConstant %>" id="smoothingTimeConstant" />
