<div class="addFilterMenu w3-container w3-black w3-padding-16">
    <div class="w3-left"><i class="fa fa-share-alt w3-xxlarge"></i></div>
    <div class="w3-right">
        <div class="w3-button" data-action="close">X</div>
    </div>
    <div class="w3-container" style="height: 400px;">
        <div class="w3-padding">
            <div id="type" class="w3-dropdown-click" style="width: 100%;">
                <button class="w3-button w3-text-white" style="width: 100%;">type</button>
                <div class="w3-dropdown-content w3-bar-block w3-border w3-center" style="width: 100%;">
                    <a href="#" class="w3-bar-item w3-button">lowpass</a>
                    <a href="#" class="w3-bar-item w3-button">highpass</a>
                    <a href="#" class="w3-bar-item w3-button">bandpass</a>
                    <a href="#" class="w3-bar-item w3-button">lowshelf</a>
                    <a href="#" class="w3-bar-item w3-button">highshelf</a>
                    <a href="#" class="w3-bar-item w3-button">peaking</a>
                    <a href="#" class="w3-bar-item w3-button">notch</a>
                    <a href="#" class="w3-bar-item w3-button">allpass</a>
                </div>
            </div>
        </div>
        <div class="w3-container w3-padding">
            <div class="w3-half w3-padding">
                <div class="w3-text-white">frequency</div>
            </div>
            <div class="w3-half">
                <input id="frequency" type="number" class="w3-input" placeholder="frequency"></input>
            </div>
        </div>
        <div class="w3-container w3-padding">
            <div class="w3-half w3-padding">
                <div class="w3-text-white">detune</div>
            </div>
            <div class="w3-half">
                <input id="detune" type="number" class="w3-input" placeholder="detune"></input>
            </div>
        </div>
        <div class="w3-container w3-padding">
            <div class="w3-half w3-padding">
                <div class="w3-text-white">Q</div>
            </div>
            <div class="w3-half">
                <input id="Q" type="number" class="w3-input" placeholder="Q"></input>
            </div>
        </div>
        <div class="w3-container w3-padding">
            <div class="w3-half w3-padding">
                <div class="w3-text-white">gain</div>
            </div>
            <div class="w3-half">
                <input id="gain" type="number" class="w3-input" placeholder="gain"></input>
            </div>
        </div>
        <div class="w3-container w3-padding">
            <div class="w3-button" style="width: 100%;" data-action="add">add</div>
        </div>
    </div>
</div>