<div class="w3-container w3-gray">
    <div class="w3-row w3-padding-16">

        <div class="w3-container w3-quarter">
            <h5>channels</h5>
            <%- include('controls/channels', { lastChannel, channels }) %>
        </div>

        <div class="w3-container w3-rest">
            <h5>player</h5>
            <div class="w3-container">
                <div class="w3-left">
                    <p id="currentTrack">test</p>
                </div>
                <div class="w3-right">
                    <img id="trackImage" src="" alt="">
                </div>
            </div>
            <audio class="player" id="player" src="<%= lastChannel.streams[0].url %>" controls
                crossorigin="anonymous"></audio>
        </div>

    </div>

    <div class="w3-row w3-padding-16">

        <div class="w3-container w3-quarter">
            <h5>controls</h5>
            <%- include('controls/Menu') %>
            <div id="controls"></div>
        </div>

        <div class="w3-container w3-rest">
            <h5>workspace</h5>
            <div id="workspace">
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="ejs/ejs.js"></script>
    <script type="module" src="bin/clubber.js"></script>
    <script src="bin/ejs.js"></script>
    <script type="module" src="client/index.js"></script>
</div>