<div class="w3-container w3-gray">
    <div class="w3-row w3-padding-16">

        <div class="w3-container w3-quarter">
            <%- include('controls/channels', { lastChannel, channels }) %>
        </div>

        <div class="w3-container w3-rest">
            <h1>player</h1>
            <div class="w3-container">
                <h4 id="currentTrack">test</h4>
                <div id="trackImage"></div>
            </div>
            <audio class="player" id="player" src="<%= lastChannel.streams[1].url %>" controls
                crossorigin="anonymous"></audio>
        </div>

    </div>

    <%- include('controls/Menu') %>

    <div class="w3-row w3-padding-16">

        <div class="w3-container w3-quarter">
            <h3>controls</h3>
            <div id="controls"> </div>
        </div>

        <div class="w3-container w3-rest">
            <h3>workspace</h3>
            <div id="workspace"> </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="ejs/ejs.js"></script>
    <script type="module" src="bin/clubber.js"></script>
    <script src="bin/ejs.js"></script>
    <script type="module" src="src/index.js"></script>
</div>