<div id="player">
    <img id="trackImage" class="w3-right" src="./images/no-image-white-64.png" alt="" style="height: 64px;">
    <div class="w3-clear"></div>
    <span  id="currentTrack" class="w3-large w3-right w3-padding">Trackname</span>
    <audio class="w3-left" style="height: 43px;" src="" controls crossorigin="anonymous"></audio>
</div>
