<div class="w3-row">
    <img id="trackImage" class="w3-right w3-padding" src="./images/no-image-white-64.png" alt="" style="height: 64px;">
    <span id="trackName" class="w3-large w3-padding">Trackname</span>
    <div class="w3-clear"></div>
    <span id="trackInfo" class="w3-right w3-padding">Trackinfo</span>
</div>
<div class="w3-row">
    <audio style="width: 100%;" src="" controls crossorigin="anonymous"></audio>
</div>