<div class="visualizer-track w3-text-white">
    <div class="visualizer-track-header">
        <h3><%= header %></h3>
    </div>
    <div class="audio-nodes-scroll">
        <div class="audio-nodes"></div>
    </div>
    <div class="screen-container"></div>
</div>