<div class="w3-container w3-padding">
    <div class="w3-half w3-padding">
        <div class="w3-text-white">cols</div>
    </div>
    <div class="w3-half">
        <input id="cols" type="number" class="w3-input" placeholder="cols" min="32" max="32768"></input>
    </div>
</div>
<div class="w3-container w3-padding">
    <div class="w3-half w3-padding">
        <div class="w3-text-white">rows</div>
    </div>
    <div class="w3-half">
        <input id="rows" type="number" class="w3-input" placeholder="rows" min="32" max="32768"></input>
    </div>
</div>