/*             */
/* FLASHER 0.1 */
/*             */
:root {
    --audio-nodes-max-height: 30vh;
}

body {
    background-color: #1b1b1b;
}

.visualizers-tracks {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
}

.visualizer-track {
    /* layout */
    border: 1px solid #797979;
    padding: 7px;
    /* grid */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 0.2fr 0.8fr; */
    gap: 0px 0px;
}

.visualizer-track-header {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
}

.audio-nodes {
    /* layout */
    max-height: var(--audio-nodes-max-height);
    /* min-height: 50vh; */
    padding: 16px;
    /* grid */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-auto-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 16px;
    align-content: center;
    /* justify-content: center; */
    grid-row-start: 2;
    grid-row-end: 3;
}

.audio-nodes-scroll {
    max-height: var(--audio-nodes-max-height);
    /* min-height: 50vh; */
    display: grid;
    justify-items: end;
    /* scroll */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.screen-container {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: center;
    justify-content: center;
}

.addFilterMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.addVisualizerMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.flasher {
    animation: colorRotate 2s infinite;
}
@keyframes colorRotate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}
