/* The slider itself */
.slider-square {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60%;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    -moz-appearance: none;
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #666666; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #666666; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/*             */
/* FLASHER 0.1 */
/*             */
body {
    background-color: #1b1b1b;
}

#nodes-container {
    height: 240px;
    overflow: scroll;
}

.addFilterMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.flasher {
    animation: colorRotate 2s infinite;
}
@keyframes pulse {
    0% {
        color: #001f3f;
    }
    100% {
        color: #ff4136;
    }
}
@keyframes colorRotate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}
@keyframes colorRotateBack {
    from {
        background: #6666ff;
    }
    10% {
        background: #0099ff;
    }
    50% {
        background: #00ff00;
    }
    75% {
        background: #ff3399;
    }
    100% {
        background: #6666ff;
    }
}

.selected-visualizer {
    border: 1px solid #e8e6e3;
}