<div class="w3-container" id="<%= id %>">
    <div class="w3-container">
        <h6 class="w3-left">
            <%= id %>
        </h6>
    </div>
    <div class="w3-row controlsList">
        <%- include('../nodes/AnalyzerNode') %>
    </div>
</div>