<div class="w3-container" id="<%= id %>">
    <div class="w3-container">
        <h4 class="w3-left">
            <%= id %>
        </h4>
        <p class="w3-right"><b>+</b></p>
    </div>
    
    <div class="w3-row controlsList w3-border-top w3-border-bottom">

        <div class="w3-row w3-padding">
            <div>cols</div>
            <input class="w3-input" type="number" name="cols" id="cols">
        </div>

        <div class="w3-row w3-padding">
            <div>rows</div>
            <input class="w3-input" type="number" name="rows" id="rows">
        </div>

        <div class="w3-row w3-padding">
            <%- include('../nodes/AnalyzerNode') %>
        </div>
    </div>
</div>