<div class="w3-row controlsList w3-border-top w3-border-bottom">

    <div class="w3-row w3-padding">
        <%- include('../nodes/AnalyzerNode') %>
    </div>
    <div class="w3-row w3-padding">
        <%- include('AudioGraph') %>
    </div>

</div>