<div class="w3-row" id="<%= id %>AnalyzerNode">
    <h6>analyzer</h6>
    <div class="w3-third w3-center">
        <%- include('../Fader', { title: 'minDb', id: 'minDecibels', min: '-100', max: '0', value: '0'}) %>
    </div>
    <div class="w3-third w3-center">
        <%- include('../Fader', { title: 'maxDb', id: 'maxDecibels', min: '-100', max: '0', value: '0'}) %>
    </div>
    <div class="w3-third w3-center">
        <%- include('../Fader', { title: 'time', id: 'smoothingTimeConstant', min: '0', max: '1', step: '.05', value: '0'}) %>
    </div>
</div>