<div class="w3-row" id="<%= id %>GainNode">
    <h6>gain</h6>
    <div class="w3-third w3-center">
        <%- include('../Fader', { title: 'gain', id: 'gain', min: '1', max: '100', value: '1'}) %>
    </div>
</div>