<% if (locals.title===null || locals.title===undefined) locals.title='visualizer' %>
<div class="w3-row">
    <div class="w3-half">
        <h4><%= title %></h4>
    </div>
    <div class="w3-half"><button class="w3-button w3-right" data-action="toggle-controls">nodes</button></div>
</div>