<div class="w3-container">
    <%- await include('visualizers/header', {title: 'STFT' }) %>
    <!-- analyzer controls always on top -->
    <ul id="nodes-container" class="w3-ul">
        <%- await include('nodes/AnalyzerNode', locals) %>
        <!-- stack node controls on top of each other -->
    </ul>
    <div id="screen-container" class="w3-container">
        <!-- screen container -->
    </div>
</div>