<div class="node-controls analyser-node">
    <div class="node-header" data-event="click" data-action="toggle-analyser" data-detail="analyser">analyzer</div>
    <div class="controls">
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-analyzer', detail: 'minDB', min: -100, max: 0, step: 1, value: 0, header: 'minDB' }) %>
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-analyzer', detail: 'maxDB', min: -100, max: 0, step: 1, value: 0, header: 'maxDB' }) %>
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-analyzer', detail: 'STC', min: 0, max: 1, step: 0.01, value: 0, header: 'STC' }) %>
    </div>
</div>