<div class="node-controls delay-node">
    <div class="node-header" data-event="click" data-action="toggle-delay" data-detail="delay">delay</div>
    <div class="controls">
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-delay', detail: 'delayTime', min: 1, max: 180, step: 1, value: 0, header: 'sec' }) %>
    </div>
</div>