<div class="node-controls gain-node">
    <div class="node-header" data-event="click" data-action="toggle-gain" data-detail="gain">gain</div>
    <div class="controls">
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-gain', detail: 'gain', min: -40, max: 40, step: 1, value: 0, header: 'gain' }) %>
    </div>
</div>