<div class="node-controls pan-node">
    <div class="node-header" data-event="click" data-action="toggle-pan" data-detail="pan">pan</div>
    <div class="controls">
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-pan', detail: 'pan', min: -1, max: 1, step: 0.1, value: 0, header: 'L/R' }) %>
    </div>
</div>