<ul class="w3-ul channelsList" id="channelsList" data-channels="<%= JSON.stringify(channels) %>" data-selected-channel="<%= lastChannel.channelId %>">
    <% channels.forEach(channel => { %>
        <% if (channel.displayName === lastChannel.displayName ) { %>
            <button class="w3-button w3-block selectedChannel">
        <% } else { %>
            <button class="w3-button w3-block">
        <% } %>
            <%= channel.displayName %>
        </button>
    <% }) %>
</ul>