.screen {
    position: absolute;
    cursor: move;
}

.channelsList {
    height: 160px;
    overflow: scroll;
}

.channelButton {
    background-color: #1b1b1b;
}

.selectedChannel {
    background-color: #00b6f0;
}

.controlsList {
    height: 20vh;
    overflow: scroll;
}

.fader {
    height: 5em;
}

.fader-title {
    font-size: x-small;
}

.fader-value {
    font-size: x-small;
}

.player {
    width: 100%;
}