h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #e9e9ed;
}

.screen {
    position: absolute;
    cursor: move;
}

.channelsList {
    height: 10em;
    overflow: scroll;
    border: 1px solid #e9e9ed;
}

.selectedChannel {
    color: #1b1b1b !important;
    background-color: #cccccc;
}

.selectedVisualizer {
    border: 1px solid #e9e9ed;
}

.controlsList {
    overflow: scroll;
}

.fader {
    height: 5em;
}

.fader-title {
    color: #e9e9ed;
    font-size: x-small;
}

.fader-value {
    color: #e9e9ed;
    font-size: x-small;
}

.player {
    width: 100%;
}

.addNode {
    display: block;
    position: absolute;
    /* width: 25em;
    height: 25em; */
    background-color: #333333;
    z-index: 4;
    left: 33%;
    top: 33%;
}

.closeButton {
    color: #e9e9ed;
    cursor: pointer;
}

#currentTrack {
    color: #e9e9ed;
}

#trackImage {
    width: 64px;
}

#menu {
    color: #e9e9ed;
    z-index: 4;
}

#workspace {
    height: 30em;
    width: 100%;
    position: relative;
    background-color: #333333;
}
