<div id="player" class="w3-padding-16">
    <div class="w3-left">
        <br>
        <span id="currentTrack" class="w3-large">Trackname</span><br>
    </div>
    <div class="w3-right">
        <img id="trackImage" src="views/images/no-image-64.png" alt="" style="width: 64px;">
    </div>
    <audio class="player" src="<%= lastChannel.streams[0].url %>" controls crossorigin="anonymous"></audio>
</div>
